<tr>
  <td><%= cost_structure.id %></td>
  <td><%= cost_structure.gb_per_day %></td>
  <td><%= cost_structure.monthly_cost %></td>
  <td><%= cost_structure.annual_cost %></td>
  <td><%= cost_structure.additional_annual_fee %></td>
  <td><%= cost_structure.perpetual_cost %></td>
  <td><%= cost_structure.billing_frequency %></td>
  <td><%= link_to "edit", edit_cost_structure_path(cost_structure) %></td>
  <td><%= button_to "delete", cost_structure, method: :delete %></td>
</tr>
