<%= @product.name %>

<%= form_for @plan do |form| %>
  <%= form.text_field :name, placeholder: "Name" %>
  <%= form.text_field :user_limit, placeholder: "User limit"%>
  <%= form.text_field :retention_period, placeholder: "Retention period" %>
  <%= form.hidden_field :product_id, value: @product.id %>
  <%= form.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Plan name</th>
      <th>User limit</th>
      <th>Retention period</th>
    </tr>
  </thead>
  <%= render @plans %>
</table>

<%= form_for @product do |form| %>
  <%= form.collection_check_boxes(
    :feature_ids,
    Feature.all,
    :id,
    :description) %>
  <%= form.submit %>
 <% end %>
