<%= @product.name %>

<%= render "plans/form", plan: @plan, product: @product %>

<table>
  <thead>
    <tr>
      <th>Business</th>
      <th>Plan name</th>
      <th>User limit</th>
      <th>Retention period</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <%= render @plans %>
</table>

<%= form_for @product do |form| %>
  <%= form.collection_check_boxes(
    :feature_ids,
    Feature.all,
    :id,
    :description) %>
  <%= form.submit %>
 <% end %>
