<tr>
  <td><%= link_to plan.business_name, plan.product.business %></td>
  <td><%= link_to plan.name, plan %></td>
  <td><%= plan.user_limit %></td>
  <td><%= plan.retention_period %></td>
  <td><%= plan.retention_period %></td>
  <td><%= link_to "edit", edit_plan_path(plan) %></td>
  <td><%= button_to "delete", plan, method: :delete %></td>
</tr>
