<%= @plan.name %>

<%= render "cost_structures/form", plan: @plan, cost_structure: @cost_structure %>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>GB/day</th>
      <th>Monthly cost</th>
      <th>Annual cost</th>
      <th>Additional annual fee</th>
      <th>Perpetual cost</th>
      <th>Billing frequency</th>
    </tr>
  </thead>
  <%= render @cost_structures %>
</table>

<h2>Product Features</h2>
<%= render @product_features %>

<%= form_for @plan do |form| %>
  <%= form.collection_check_boxes(
    :feature_ids,
    Feature.all,
    :id,
    :description) %>
  <%= form.submit %>
 <% end %>
